.block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background: lightskyblue;
}

.anim-block {
  animation: animBlock 5s infinite linear;
}

@keyframes animBlock {
  0% {
    transform: translateY(-100px);
  }

  50% {
    transform: translateY(100px);
  }

  100% {
    transform: translateY(-100px);
  }
}